# SPDX-FileCopyrightText: 2021 - 2023 Constantine Evans <qslib@mb.costi.net>
#
# SPDX-License-Identifier: EUPL-1.2
# Requirements for the hosted Sphinx build. The project itself is installed
# separately by .readthedocs.yml, which also builds the Rust extension.
myst-parser
sphinx>=2.4
sphinx-autodoc-typehints
sphinx-click
