# SPDX-FileCopyrightText: 2021 - 2023 Constantine Evans <qslib@mb.costi.net>
#
# SPDX-License-Identifier: EUPL-1.2
# Sphinx build requirements. No longer used by Read the Docs (docs are now
# built in Forgejo Actions via `just docs`, which uses the `docs` dependency
# group in pyproject.toml); kept for standalone `pip`-based doc builds.
myst-parser
sphinx>=2.4
sphinx-autodoc-typehints
sphinx-click
